<header class= 'top-page-header'>
  <div class='header-left'>P Typing +Plus </div>
  <div class='header-center'></div>

  <% if user_signed_in? %>
  <div class='header-right'>
  <li><%= link_to "こんにちは#{current_user.nickname}さん", "#", class: "user-nickname" %></li> 
  <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout"%> </li> 
  </div>
  <% else %> 
  <div class='header-right'>
  <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
  <li><%= link_to '新規ユーザー登録', new_user_registration_path, class: "sign-up" %></li>
  </div>
  <% end %>
  
  
  
</header>